//
// Defaults 
//
$max-mobile-width: 480px;
$max-tablet-width: 900px;
$max-container-width: 900px;
$default-padding: 20px;
$default-margin: $default-padding;
$decorative-color: #ba387d;

// 
// Navigation
//
$nav-footer-height: 80px;
$nav-border-width: 2px;
$nav-border: $nav-border-width solid $decorative-color;
$medium-logo-width: 120px;
$large-logo-width: 200px;