main {
    width: 100%;
    height: 100%;
}

main .button {
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    margin: 20px auto;
    border: 2px solid #ba387d;
    color: #ba387d;
    background: #fff;
}

main .button:hover {
    background: #ba387d;
    color: #fff;
}